

<div>
  <h1>Peliculas</h1>
  
  <div class="card mb-3" style="max-width: 540px;"></div>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../images/terminator2.jpg" class="img-fluid rounded-start" alt="imagen">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Terminator II</h5>
        <p class="card-text">Sarah Connor, la madre soltera del rebelde John Connor, está ingresada en un psiquiátrico. Algunos años antes, un viajero del tiempo le había revelado que su hijo sería el salvador de la humanidad en un futuro -año 2029- dominado por las máquinas. Se convirtió entonces en una especie de guerrera y educó a su hijo John en tácticas de supervivencia. Esta es la razón por la que está recluida en un manicomio. Cuando un nuevo androide mejorado, un T-1000, llega del futuro para asesinar a John, un viejo modelo T-800 será enviado para protegerle.</p>
        <div class="card-text"><small class="text-muted">Año: 1991</small></div>
        <div class="card-text"><small class="text-muted">Género: Acción</small></div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;"></div>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../images/terminator2.jpg" class="img-fluid rounded-start" alt="imagen">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Terminator II</h5>
        <p class="card-text">Sarah Connor, la madre soltera del rebelde John Connor, está ingresada en un psiquiátrico. Algunos años antes, un viajero del tiempo le había revelado que su hijo sería el salvador de la humanidad en un futuro -año 2029- dominado por las máquinas. Se convirtió entonces en una especie de guerrera y educó a su hijo John en tácticas de supervivencia. Esta es la razón por la que está recluida en un manicomio. Cuando un nuevo androide mejorado, un T-1000, llega del futuro para asesinar a John, un viejo modelo T-800 será enviado para protegerle.</p>
        <div class="card-text"><small class="text-muted">Año: 1991</small></div>
        <div class="card-text"><small class="text-muted">Género: Acción</small></div>
      </div>
    </div>
  </div>
</div>
    