

<div>
    <h1>
        Sucursales en Express
    </h1>
    <p>
        <a href="/sucursales/1">Sucursal 1</a>
    </p>
    <p>
        <a href="/sucursales/2">Sucursal 2</a>
    </p>
    <p>
        <a href="/sucursales/3">Sucursal 3</a>
    </p>
</div>